<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script>
        function readExcel() {
            let input = event.target;
            let reader = new FileReader();

            reader.onload = function () {
                let data = reader.result;
                let workBook = XLSX.read(data, { type: 'binary' });

                workBook.SheetNames.forEach(function (sheetName, index) {
                    if (index === 0) {
                        let rows = XLSX.utils.sheet_to_json(workBook.Sheets[sheetName]);
                        console.log(JSON.stringify(rows));

                        document.querySelector('[name="word_list"]').value = JSON.stringify(rows);
                    }
                });
            };
            reader.readAsBinaryString(input.files[0]);
        }

        function saveWord() {
            fetch("/upload", {
                method: "POST",
                body: JSON.stringify({
                    wordList: document.querySelector('[name="word_list"]').value
                }),
            })
            .then((response) => response.json())
            .then((result) => console.log(result));
        }
    </script>
</head>
<body>
    <input type="hidden" name="word_list">
    <div>
        <input type="file" onchange="readExcel()">
        <button type="button" onclick="saveWord()">저장</button>
    </div>
</body>
</html>